@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BoardgameLibrary.BoardgameManagement
@using EFCoreBoardgameData.Models
@inject IBoardgameRepository BoardgameService

<h1>Boardgames</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (boardgames == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var boardgame in boardgames)
            {
                <tr>
                    <td>@boardgame.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Boardgame> boardgames;

    protected override async Task OnInitializedAsync()
    {
        var task = Task.Run(() => BoardgameService.GetAll());
        boardgames = await task;
    }
}
